#errorViewer {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
}

#errorViewer td, #errorViewer th {
	font-size: 0.8em;
	text-align: center;
	border: 1px solid #005EA7;
	padding: 3px 7px 2px 7px;
}

#errorViewer th {
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #005EA7;
	color: #ffffff;
}

#errorViewer tr.alt td {
	color: #000000;
	background-color: #b5e8f6;
}

/* .hidden{
	display: none;
}
			
.displayed{
	display: table-cell
} */

.id {
	display: none;
}

.causeCode {
	display: none;
}

.cellId {
	display: none;
}

.date {
	display: table-cell;
}

.duration {
	display: none;
}

.eventId {
	display: none;
}

.failureClass {
	display: none;
}

.imsi {
	display: table-cell;
}

.mcc {
	display: none;
}

.mnc {
	display: none;
}

.neVersion {
	display: none;
}

.tac {
	display: none;
}

.hier3 {
	display: none;
}

.hier32 {
	display: none;
}

.hier321 {
	display: none;
}